In [28]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath('../scripts'))
sys.path.append(os.path.abspath('../src'))

In [29]:

from utils import missing_values_table,remove_all_columns_outliers,univariate_analysis

In [30]:
df=pd.read_csv('../data/dataset.txt', delimiter='|')

C:\Users\asmam\AppData\Local\Temp\ipykernel_19704\202979867.py:1: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../data/dataset.txt', delimiter='|')

In [9]:
# convert to csv file and save it 
# df.to_csv('../data/dataset.csv', index=False)

In [31]:
data=pd.read_csv('../data/dataset.csv')
data.head()

C:\Users\asmam\AppData\Local\Temp\ipykernel_19704\1561423014.py:1: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('../data/dataset.csv')

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [32]:
data.shape

(1000098, 52)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

In [34]:
# Check for missing values
missing_values_df = missing_values_table(data)
print("Missing Values in df:\n\n")
print(missing_values_df)

Your selected dataframe has 52 columns.
There are 22 columns that have missing values.
Missing Values in df:


                         Missing Values  % of Total Values    Dtype
NumberOfVehiclesInFleet         1000098              100.0  float64
CrossBorder                      999400               99.9   object
CustomValueEstimate              779642               78.0  float64
WrittenOff                       641901               64.2   object
Converted                        641901               64.2   object
Rebuilt                          641901               64.2   object
NewVehicle                       153295               15.3   object
Bank                             145961               14.6   object
AccountType                       40232                4.0   object
Gender                             9536                1.0   object
MaritalStatus                      8259                0.8   object
mmcode                              552                0.1  float64
VehicleType                         552                0.1   object
make                                552                0.1   object
VehicleIntroDate                    552                0.1   object
NumberOfDoors                       552                0.1  float64
bodytype                            552                0.1   object
kilowatts                           552                0.1  float64
cubiccapacity                       552                0.1  float64
Cylinders                           552                0.1  float64
Model                               552                0.1   object
CapitalOutstanding                    2                0.0   object

In [36]:
# from the above NumberOfVehiclesInFleet have  1000098 null values which means all are null so drop this column
data=data.drop(columns='NumberOfVehiclesInFleet',axis=1)

In [37]:
# data types
print(data.dtypes)

UnderwrittenCoverID           int64
PolicyID                      int64
TransactionMonth             object
IsVATRegistered                bool
Citizenship                  object
LegalType                    object
Title                        object
Language                     object
Bank                         object
AccountType                  object
MaritalStatus                object
Gender                       object
Country                      object
Province                     object
PostalCode                    int64
MainCrestaZone               object
SubCrestaZone                object
ItemType                     object
mmcode                      float64
VehicleType                  object
RegistrationYear              int64
make                         object
Model                        object
Cylinders                   float64
cubiccapacity               float64
kilowatts                   float64
bodytype                     object
NumberOfDoors               float64
VehicleIntroDate             object
CustomValueEstimate         float64
AlarmImmobiliser             object
TrackingDevice               object
CapitalOutstanding           object
NewVehicle                   object
WrittenOff                   object
Rebuilt                      object
Converted                    object
CrossBorder                  object
SumInsured                  float64
TermFrequency                object
CalculatedPremiumPerTerm    float64
ExcessSelected               object
CoverCategory                object
CoverType                    object
CoverGroup                   object
Section                      object
Product                      object
StatutoryClass               object
StatutoryRiskType            object
TotalPremium                float64
TotalClaims                 float64
dtype: object

In [38]:
# fill numeric missing value with mean
numeric_cols = data.select_dtypes(include='number').columns
data_filled_numeric = data[numeric_cols].fillna(data[numeric_cols].mean())

# Fill non-numeric columns with a placeholder or mode
non_numeric_cols = data.select_dtypes(exclude='number').columns

data_filled_non_numeric = data[non_numeric_cols].fillna('Unknown')


# Merge both numeric and non-numeric
new_data = pd.concat([data_filled_numeric, data_filled_non_numeric], axis=1)


# check missing value after hadle it
print(new_data.isnull().sum())

UnderwrittenCoverID         0
PolicyID                    0
PostalCode                  0
mmcode                      0
RegistrationYear            0
Cylinders                   0
cubiccapacity               0
kilowatts                   0
NumberOfDoors               0
CustomValueEstimate         0
SumInsured                  0
CalculatedPremiumPerTerm    0
TotalPremium                0
TotalClaims                 0
TransactionMonth            0
IsVATRegistered             0
Citizenship                 0
LegalType                   0
Title                       0
Language                    0
Bank                        0
AccountType                 0
MaritalStatus               0
Gender                      0
Country                     0
Province                    0
MainCrestaZone              0
SubCrestaZone               0
ItemType                    0
VehicleType                 0
make                        0
Model                       0
bodytype                    0
VehicleIntroDate            0
AlarmImmobiliser            0
TrackingDevice              0
CapitalOutstanding          0
NewVehicle                  0
WrittenOff                  0
Rebuilt                     0
Converted                   0
CrossBorder                 0
TermFrequency               0
ExcessSelected              0
CoverCategory               0
CoverType                   0
CoverGroup                  0
Section                     0
Product                     0
StatutoryClass              0
StatutoryRiskType           0
dtype: int64

In [39]:
# data types
print(new_data.dtypes)

UnderwrittenCoverID           int64
PolicyID                      int64
PostalCode                    int64
mmcode                      float64
RegistrationYear              int64
Cylinders                   float64
cubiccapacity               float64
kilowatts                   float64
NumberOfDoors               float64
CustomValueEstimate         float64
SumInsured                  float64
CalculatedPremiumPerTerm    float64
TotalPremium                float64
TotalClaims                 float64
TransactionMonth             object
IsVATRegistered                bool
Citizenship                  object
LegalType                    object
Title                        object
Language                     object
Bank                         object
AccountType                  object
MaritalStatus                object
Gender                       object
Country                      object
Province                     object
MainCrestaZone               object
SubCrestaZone                object
ItemType                     object
VehicleType                  object
make                         object
Model                        object
bodytype                     object
VehicleIntroDate             object
AlarmImmobiliser             object
TrackingDevice               object
CapitalOutstanding           object
NewVehicle                   object
WrittenOff                   object
Rebuilt                      object
Converted                    object
CrossBorder                  object
TermFrequency                object
ExcessSelected               object
CoverCategory                object
CoverType                    object
CoverGroup                   object
Section                      object
Product                      object
StatutoryClass               object
StatutoryRiskType            object
dtype: object

In [41]:
new_data.shape

(1000098, 51)

In [42]:
data_iqr_cleaned = remove_all_columns_outliers(new_data, method="iqr")
data_cleaned_zscore = remove_all_columns_outliers(new_data, method="zscore")
# Check the shape of the cleaned 
print(f"Original data shape: {data.shape}")
print(f"Cleaned data shape (IQR method): {data_iqr_cleaned.shape}")
print(f"Cleaned data shape (Z-score method): {data_cleaned_zscore.shape}")

Column: UnderwrittenCoverID
  Q1: 55143.0, Q3: 139190.0, IQR: 84047.0, Lower Bound: -70927.5, Upper Bound: 265260.5
Column: PolicyID
  Q1: 4465.0, Q3: 11034.0, IQR: 6569.0, Lower Bound: -5388.5, Upper Bound: 20887.5
Column: PostalCode
  Q1: 790.0, Q3: 4309.0, IQR: 3519.0, Lower Bound: -4488.5, Upper Bound: 9587.5
Column: mmcode
  Q1: 60056925.0, Q3: 60058418.0, IQR: 1493.0, Lower Bound: 60054685.5, Upper Bound: 60060657.5
Column: RegistrationYear
  Q1: 2008.0, Q3: 2013.0, IQR: 5.0, Lower Bound: 2000.5, Upper Bound: 2020.5
Column: Cylinders
  Q1: 4.0, Q3: 4.0, IQR: 0.0, Lower Bound: 4.0, Upper Bound: 4.0
Column: cubiccapacity
  Q1: 2494.0, Q3: 2694.0, IQR: 200.0, Lower Bound: 2194.0, Upper Bound: 2994.0
Column: kilowatts
  Q1: 75.0, Q3: 111.0, IQR: 36.0, Lower Bound: 21.0, Upper Bound: 165.0
Column: NumberOfDoors
  Q1: 4.0, Q3: 4.0, IQR: 0.0, Lower Bound: 4.0, Upper Bound: 4.0
Column: CustomValueEstimate
  Q1: 225531.1299417571, Q3: 225531.1299417571, IQR: 0.0, Lower Bound: 225531.1299417571, Upper Bound: 225531.1299417571
Column: SumInsured
  Q1: 5000.0, Q3: 250000.0, IQR: 245000.0, Lower Bound: -362500.0, Upper Bound: 617500.0
Column: CalculatedPremiumPerTerm
  Q1: 4.7798, Q3: 105.0, IQR: 100.2202, Lower Bound: -145.55050000000003, Upper Bound: 255.33030000000002
Column: TotalPremium
  Q1: 0.0, Q3: 21.929824561403, IQR: 21.929824561403, Lower Bound: -32.8947368421045, Upper Bound: 54.8245614035075
Column: TotalClaims
  Q1: 0.0, Q3: 0.0, IQR: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Original data shape: (1000098, 51)
Cleaned data shape (IQR method): (350162, 51)
Cleaned data shape (Z-score method): (882934, 51)

In [43]:
# take the z-score analysis
cleaned_data=data_cleaned_zscore.copy()

In [44]:
cleaned_data.head(1)

,UnderwrittenCoverID,PolicyID,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,kilowatts,NumberOfDoors,CustomValueEstimate,...,CrossBorder,TermFrequency,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType
18,120087,10173,1619,54057250.0,2004,4.0,1870.0,75.0,5.0,52700.0,...,Unknown,Monthly,No excess,Signage and Vehicle Wraps,Signage and Vehicle Wraps,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant

In [46]:

# Converts the TransactionMonth column from object to datetime format.

cleaned_data['TransactionMonth'] = pd.to_datetime(cleaned_data['TransactionMonth'], format='%d/%m/%Y', errors='coerce')

In [48]:
# Converts the VehicleIntroDate column from object to datetime format.

cleaned_data['VehicleIntroDate'] = pd.to_datetime(cleaned_data['VehicleIntroDate'], format='%d/%m/%Y', errors='coerce')

In [49]:
cleaned_data.to_csv('../data/cleanedDataset.csv', index=False)